.login-wrapper {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/fc164b4b-f085-44ee-bb7f-ec7df8539eff/d23a1608-7d90-4da1-93d6-bae2fe60a69b/IN-en-20230814-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  opacity: 0.8;
  height: 100vh;
  width: 100vw;
}

.loginForm-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginForm-wrapper div {
  background-color: rgba(0, 0, 0, 0.7);
}
